<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>screenWatch.js - Ivaylo Danev and Vesela Chepisheva</title>
	<link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
	<script type="text/javascript" src="libs/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="js/hoverintent.min.js"></script>
	<script type="text/javascript">
		var FILES = '<%= FILES %>';
	</script>
</head>
<body>

	<div id="header"></div>
	<div id="world"></div>
	<div id="footer"></div>

	<script type="text/javascript" src="js/app.js"></script>
</body>
</html>
