/*
	General styles
*/

body, html{
	height:100%;
	width: 100%;
	font-family:Monospace;
	font-size:14px;
	margin: 0px;
	overflow: hidden;
}

#header{
	position: fixed;
	top:0;
	left:0;
	height:100px;
	background-color: red;
}

#world{
	padding:3%;
	padding-top:4%;
	padding-bottom:4%;
	width: 100%;
	height: 100%;
}

#footer{
	position: fixed;
	bottom:0;
	left:0;
	height: 150px;
	background-color: red;
}

table{
	border-color:black;
	border-width: 1px;
	width: 100%;
	height: 100%;
	opacity: 0.1;
	-webkit-transition: opacity 0.7s ease-in-out;
	-moz-transition: opacity 0.7s ease-in-out;
	-ms-transition: opacity 0.7s ease-in-out;
	-o-transition: opacity 0.7s ease-in-out;
	transition: opacity 0.7s ease-in-out;
}


table tr{
	width: 100%;
}

table td{
	padding:0px;
}

/*
table td:hover .piece{
}
*/

/*
table:hover{
	opacity: 0.2;
}
*/

.piece{
	height: 100%;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
	opacity: 1.0;
	cursor: pointer;
	-webkit-transition: opacity 0.7s ease-in-out;
	-moz-transition: opacity 0.7s ease-in-out;
	-ms-transition: opacity 0.7s ease-in-out;
	-o-transition: opacity 0.7s ease-in-out;
	transition: opacity 0.7s ease-in-out;
}

.piece-wrapper, .piece-wrapper.placeholder, .piece-wrapper.extra{
	height: 100%;
	width: 100%;
	border-right:1px solid black;
	border-bottom:1px solid black;
	/*padding:10px;*/
}

.piece-wrapper.placeholder{
	border:0;
}

.piece-view, .piece-view-fs, .piece-view-bg{
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right: 0;
	z-index: 0;
	opacity: 0.0;
	background-size: cover;
	background-position: center 20%;
	background-repeat: no-repeat;
	background-color: rgba(255,255,255,0.5);
	-webkit-transition: opacity 0.7s ease-in-out;
	-moz-transition: opacity 0.7s ease-in-out;
	-ms-transition: opacity 0.7s ease-in-out;
	-o-transition: opacity 0.7s ease-in-out;
	transition: opacity 0.7s ease-in-out;
	/*background-color: black;*/
}

.piece-view-fs, .piece-view-bg{
	background-position: center;
}

.piece-view-bg{
	opacity: 1;
	-webkit-transition: opacity 0.7s ease-in-out;
	-moz-transition: opacity 0.7s ease-in-out;
	-ms-transition: opacity 0.7s ease-in-out;
	-o-transition: opacity 0.7s ease-in-out;
	transition: opacity 0.7s ease-in-out;
}

.piece-view-wrapper, .piece-view-fs-wrapper{
	position: fixed;
	top:0;
	left:0;
	bottom:0;
	right: 0;
	z-index: -1;
	opacity: 0.6;
}


.piece-view-fs{
	opacity: 1;
	display: none;
	background-color: rgba(0,0,0,0.1);
	background-size: contain;
}

.piece-view-fs-wrapper{
	display: none;
	opacity: 1;
	z-index: 1;
}




.active{
	/*display: block;*/
	opacity: 1;
}

/*.hovered .piece-view-bg{
	border:10px solid white;
	
}*/

.hovered .piece{
	/*background:none!important;*/
	opacity: 0.7;
}

.hovered.extra .piece{
	/*background:none!important;*/
	opacity: 0;
}

.hovered.extra .piece-wrapper{
	/*background:none!important;*/
	border-color: rgba(0,0,0,0.0);
}

.hovered table{
	opacity: 1;
}

.piece:hover {
	opacity: 0.3!important;
}

.piece.extra:hover {
	opacity: 1!important;
}






